includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - vendor/
    ignoreErrors:
        - '#Method (.*) has no return typehint specified.#'
    checkMissingIterableValueType: false
