includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - vendor/
    checkMissingIterableValueType: false
